//Color Palette #4297
$light-blue-color: #96dff4;
$light-green-color: #d5e3ac;
$lime-green-color: #bdef53;
$glow-pink-color: #f662d1;
$dark-purple-color: #2d0625;

//Base Colors
$white-color: #fff;
$black-color: #000;
$light-black-color: #111;
$grey-color: #888;
$red-favourite-color: #e40017;